
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --base-color: #fffafa; /* 60% */
  --primary-color: #673AB7; /* 30% (important areas) */
  --secondary-color: #FFEB3B; /* 10% (action areas) */
  --dark-color: #2c2c2c;
  --margin-bottom: 10px;
}

.light-text{
  color: var(--base-color);
}

.dark-text{
  color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: center;
  text-wrap: balance;
}

p{
  line-height: 1.5;
  text-align: left;
  font-size: 18px;
  padding: 8px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.oculta{
  display: none;
}

.filas{
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.casilla{
  display: flex;
  border: 1px solid;
  width: 12rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-image: repeating-radial-gradient(#5a90f2, #56b5fe);
  color: white;
  cursor: pointer;
}

#acciones{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#palabra{
  border: 5px inset #56b5fe;
  margin: 12px;
  width: 12rem;
}

#tiempo{
  border: 1px solid;
  border-radius: 30px;
  width: 4rem;
  background-image: repeating-radial-gradient(#5a90f2, #56b5fe);
  color: white;
}

#tiempo p, #palabra p{
  text-align: center;
}

.customButton{
  background-color: #1899D6;
  border-radius: 16px;
  border-width: 0 0 2px;
  font-size: 15px;
  padding: 15px 25px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 18px;
  cursor: pointer;
}

.escondida{
  visibility: hidden;
}

.acertada{
  background-image: repeating-radial-gradient(#5af262, #a9ffaf);
}

#mensajeInicial{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mensajeInicial p{
  font-size: 18px;
}

#escenaJuego{
  height: 100svh;
}

@media only screen and (max-width: 600px) {
  .filas {
    flex-direction: column;
  }
  .casilla {
    width: 100%;
    height: 3rem;
  }

  .casilla p {
    font-size: 12px;
  }
}
